{% extends 'base.html' %}
{% load static  %}

{% block content%}

 <div class="topleft">
    <p><font color="#800000" face = "Edwardian Script ITC" size = "8">Here is our lot for {{ category }}:</font></p>
     {% include 'pagination.html' %}
        <ul class="product-list">
            {% for product in page_obj %}
                <li>
                    <div>Lot No. {{product.id}}</div>
                    <div>{{product.name}}</div>
                    <div>{{product.price}} EUR</div>
                    <img src="{{ product.image.url }}" width="100"/>
                    <div>{{product.details}}</div>
                </li>
            {% endfor %}
        </ul>
 </div>
{% endblock %}